@import "variables";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mq($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin pc($pc-first) {
  @media #{map-get($pc-firsts, $pc-first)} {
    @content;
  }
}