$mainColor: #ff7fd1;
$leftContentColor: #FFB62C;
$leftTextColor: #e5edf1;
$rightContentColor: #4BCB25;
$rightTextColor: #E7EBE8;

$breakpoints: (
        "sm": "screen and (min-width: 400px)",
        "md": "screen and (min-width: 768px)",
        "lg": "screen and (min-width: 1000px)",
        "xl": "screen and (min-width: 1200px)",
) !default;

$pc-firsts: (
        "sm": "screen and (max-width: 399px)",
        "md": "screen and (min-width: 400px) and (max-width: 767px)",
        "lg": "screen and (min-width: 768px) and (max-width: 999px)",
        "xl": "screen and (min-width: 1000px)",
)